.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  width: 72px;
  background-color: white;
  z-index: 100;
}
.sidebar-link {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 74px;
}
.sidebar-link:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
.icon {
  height: 40px;
}
.sidebar-link img {
  height: 24px;
}
.sidebar-link div {
  font-size: 10px;
  margin-top: 5px;
}
